*{
   margin: 0;
   font font-family: Arial;
}
    
.navbar{
    height: 40px;
    background-color:#00254e;
    color:white;
}
.image1{
  margin-top: 15px;
}
ul{
    background-color:#00254e;
    text-align: right; 
	}
    ul li{
		
		display:inline-block;
		padding:10px;
		color: #ECB200;       
    cursor: pointer;
    text-align: left; 
	}
  

    .dropdown{display:none;}
	
		    ul li:hover .dropdown{
			display:block;
			position:absolute;
            background-color:#00254e;
			margin-left:-0.29cm;
			margin-top:0.20	cm;
		}
		.dropdown ul{
			margin:0;
			padding:0;
		}
		
		.dropdown ul li{
			display:block;
		}


        .container{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            width: 1300px;
            
        }
		
        .left-section {
                     width: 25%;
                     background-color: #0a2a6a;
                     color: white;
                     padding: 15px;
                     border-radius: 8px;
                     }
        .left-section h3 {
             color: #ffcc00;
           }
    
   .principal-photo {
  width: 90px;
  height: 115px;
 
}

.left-section a {
  color: lightblue;
  text-decoration: none;
}

.middle-section {
  width: 45%;
  text-align: center;
}

.main-image {
  width: 100%;
  border-radius: 8px;
}


.right-section {
  width: 25%;
  background-color: #0a2a6a;
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.right-section h3 {
  color: #ffcc00;
}

.right-section ul {
  list-style: none;
  padding: 0;
}

.right-section li {
  margin-bottom: 8px;
}

.right-section a {
  color: #00ff99;
  text-decoration: none;
}

.four-columns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}
.four-columns ul {
  background-color: white;
}
.four-columns ul li {
  background-color: white;
  color: black;
  display: block;
  padding: 5px;
}


.col-box {
    width: 25%;
    height: 250px;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 18px;
    overflow: hidden;     
}

footer {
margin-top: 15px;
}

.foot-panel1{
  background-color: #00254e;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
ul{
  margin-top: 10px;
}
ul a {
  display: block;
  font-size: 13px;
  margin-top: 10px;
}
ul p {
   font-weight: bold;
   color: #ec9337;
}
